:root{--brand-color: #0e1f2f; --blue: #007bff;--indigo: #6610f2;--purple: #6f42c1;--pink: #e83e8c;--red: #dc3545;--orange: #fd7e14;--yellow: #ffc107;--green: #28a745;--teal: #20c997;--cyan: #17a2b8;--white: #fff;--gray: #6c757d;--gray-dark: #343a40;--primary: #225556;--secondary: #D28C6E;--success: #28a745;--info: #17a2b8;--warning: #ffc107;--danger: #dc3545;--light: #f8f9fa;--dark: #343a40;--breakpoint-xs: 0;--breakpoint-sm: 576px;--breakpoint-md: 768px;--breakpoint-lg: 992px;--breakpoint-xl: 1200px;--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace}


 .dark-background{
    background-color: #0e1f2f !important;

 }

 .bolder{
   font-weight: bolder !important;
 }

 .home-buttons-row{
  font-weight: bolder !important;
 }

 .light-blue{
    color: #17a2b8
 }

 .pad-right{
   margin-right: 20px;
 }
 
 .btn-padding{
    padding-left: 35px !important;
    padding-right: 35px !important;
 }

 .lightest-blue{
  color: #D2EDF3;
}

.lightest-blue-link{
  color: #D2EDF3;
}

.lightest-blue-link:hover{
  color: rgb(160, 7, 7);
  text-decoration: underline;
}
 
.dark-red{
  color: rgb(160, 7, 7);
}

.btn-login{
  background-color: rgb(160, 7, 7);
}

.title{
  padding-top: 70px;
  padding-bottom: 70px;
  color: white;
}
.sub-title{
  margin-top: 0px;
  color: white;
  font-weight: 300;
  font-size: 1.85rem;
  
}

.subscribe-input{
  width: 250px !important;
  padding-right: 15px;
  margin-right: 15px;
}
 .home-background-image{
   background: url(/static/images/space.png) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 .tutorial-background-image{
   background: url(/static/images/space-tutorial.png) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover;
 }

 .home-logos{  
   width: 80px; 
    height: 80px;
 }

 .navbar-pad{
   padding-left: 55px !important;
 }

 .tutorial-logos{  
    text-align: center;
    width: 60px; 
    height: 60px;
 }

 .home-logos-rancher{  
   width: 110px; 
    height: 80px;
 }

 .tutorial-content{
    width: 100%;
 }
 .tutorial-images{
    width: 150px;
    height: 150px;
    text-align: center;
 }
 .tutorial-images-wide{
   width: 230px;
   height: 150px;
   text-align: center;
 }
 .social-media-ul{
  list-style-type: none;
  padding-left: 0px;
 }
 .social-media-li{
  padding-bottom: 21px;
  width: 50px;
 }
 .social-media-logos{
   width: 40px;
 }

 .learning-outcomes{
   background: white;
   border-radius: 5px;
   padding: 3px; 
   border-style: solid;
   border-width: 1px;
   border-color: rgb(228, 227, 227);
   margin-bottom: 5px;
  }

 .code-single-div{
   display: inline-block; 
   vertical-align: middle; 
   background: white; 
   border-radius: 2px;
   border: solid;
   border-color: rgb(223, 220, 220);
   border-width: 0.6px;
 }

 .code-single-code{
   color: #233649;
   padding-right: 18px; 
   border: none; 
   display: inline-table; 
   margin-top:-6px; 
   vertical-align: middle;
   background: white;
 }

 .code-single-copy{
   width: 17px;
   margin-right: 5px;
   margin-top: 5px; 
   padding-bottom: -10px;
 }

 .padding-bottom{
    padding-bottom: 15px
 }

 .text-right{
    text-align: right;
 }

 .vert-space{
   padding-top: 50px;
   padding-bottom: 50px;
 }

 .dot {
   color: white;
   font-weight: bold;
   height: 40px;
   width: 40px;
   background-color: #0e1f2f;
   border-radius: 50%;
   display: inline-block;
 }

 .header-h1{
   display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;;
 }

 .header-h2{
   display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 500;
 }
 

 
