<!DOCTYPE html>
<html lang="en" style="overflow-y: scroll; overflow-x: hidden;">
    <head>
      <title>Home</title>



      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180738263-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-180738263-1');
      </script>

        <link rel="shortcut icon" href="/static/images/planet-logo.ico" type="image/x-icon">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/main.css">
        <!--
        <link rel="stylesheet" href="/static/css/spaceship.css">
        -->        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        
    
        
    
        <!-- JavaScript -->
        <script src="/static/js/glider-init.4b9f36aaa51b.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    </head>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="/">
        <h3 style="color: white; border-top: 0px; margin: 0px; padding: none">🚀planet<span class="lightest-blue">DevOps</span></h3>
        <!--<img class="nav-logo" src="/static/images/logo.png" alt="devopsnation.io"/> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <!-- left -->
        <ul class="navbar-nav mr-auto navbar-pad">
          <li class="nav-item dropdown">
              <a class="nav-link" href="/tutorials/">Tutorials</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="/blog/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/devops/">What is DevOps?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/writeforus/">Write for Us</a>
          </li>

        </ul>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
          <span class="ml-lg-auto d-none d-lg-flex">
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/planetdevopsio"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://planetdevopsio.slack.com"><i class="fab fa-slack"></i></a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/PlanetDevops-108065184396117"><i class="fab fa-facebook"></i></a>
            </li>
            -->
            <li class="nav-item">
              <a class="nav-link" href="https://linkedin.com/company/planetdevops-io"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="nav-item" style="padding-right: 20px;">
              <a class="nav-link" href="https://github.com/harry-reid94/"><i class="fab fa-github"></i></a>
            </li>
          </span>
          
          <!--
          <li class="nav-item nav-right-btn">
            <a
              class="btn btn-danger" style="pointer-events: none; background-color: rgb(144, 55, 73); border-color: rgb(144, 55, 73);"
              href="/">Sign In</a>
          </li>
          -->
          
        </ul>

        
      </div>
  </nav>

          
        <header class="title col-12 home-background-image centered">
            <div class="container"> 
            <div class="col-12">
                <h1 class="header-h1">Your home of <span class="lightest-blue">DevOps</span><span class="dark-red">.</span></h1>
                <h3 class="sub-title">Our step-by-step tutorials teach you how apply industry standard DevOps practices and principles to real-world problems using the latest tools, technologies, and frameworks.</h3>
                <div class="home-actions">
                  <br>
                  <a href="/tutorials/" class="btn btn-outline-light bolder btn-padding pad-right">View Tutorials</a>
                  <a href="/devops/" class="lightest-blue-link bolder underline">Read about DevOps  ></a>
                </div>
            </div>
            </div>
        </header>  
        {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{message}}
                </div>
              {% endfor %}
              {% endif %}
            {% endwith %}
            
            {% block body %}{% endblock %}     
           
          <div class="row" style="padding: 40px;">
            <div class="col">
              <div class="card">
                <div class="card-header dark-background">
                  <h4>Tutorials</h4>
                </div>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">planetDevOps offers a wide range of free tutorials, from installing and configuring Docker, to running your first serverless Flask application.</p>
                  <a href="/tutorials/" class="btn btn-outline-dark">View Tutorials | 🚀</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-header dark-background">
                  <h4>Articles</h4>
                </div>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">"Tell them what you are going to tell them, tell them, then tell them what you told them." - Aristotle</p>
                  <br>
                  <a href="/blog/" class="btn btn-outline-dark">Visit Blog | 🚀</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-header dark-background">
                  <h4>Write for Us</h4>
                </div>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">If you've got some insight to offer the world, whether that be in the form of blog posts or tutorial guides, why not use planetDevOps as your platform!</p>
                  <a href="/writeforus/" class="btn btn-outline-dark">More Info | 🚀</a>
                </div>
              </div>
            </div>
          </div>
            <br>

            <div class="card text-center" style="margin-right: 40px; margin-left: 40px">
              <div class="card-header dark-background">
                <b>Tech Stack</b>
              </div>
              <div class="card-body">
                <h5 class="card-title">A look at the tools we base our content around</h5>
                <br>

                <div class="row">
                  <div class="col">
                    <a  href="https://www.python.org/">
                      <img loading="lazy" class="home-logos" src="/static/images/logos/Python.png"/>
                    </a>
                    <h6>Python</h6>
                    
                  </div>
                  <div class="col">
                    <a  href="https://aws.amazon.com/">
                      <img class="home-logos" src="/static/images/logos/AWS.png"/>
                    </a>
                    <h6>AWS</h6>
                  </div>

                  <div class="col">
                    <a  href="https://www.ansible.com/">
                      <img class="home-logos" src="/static/images/logos/Ansible.png"/>
                    </a>
                    <h6>Ansible</h6>
                   </div>
                  <div class="col">
                    <a  href="https://www.docker.com/">
                      <img class="home-logos" src="/static/images/logos/Docker.png"/>
                    </a>
                    <h6>Docker</h6>
                  </div>
                  <div class="col">
                    <a  href="https://kubernetes.io/">
                      <img class="home-logos" src="/static/images/logos/Kubernetes.png"/>
                    </a>
                    <h6>Kubernetes</h6>
                    </div>
                    <div class="col">
                      <a  href="https://rancher.com/">
                        <img class="home-logos-rancher" src="/static/images/logos/Rancher.png"/>
                      </a>
                      <h6>Rancher</h6>
                    </div>
                  <div class="col">
                    <a  href="https://www.jenkins.io/">
                      <img class="home-logos" src="/static/images/logos/CircleCI.png"/>
                    </a>
                    <h6>CircleCI</h6>
                  </div>
                  <div class="col">
                    <a  href="https://www.linux.org/">
                      <img class="home-logos" src="/static/images/logos/Linux.png"/>
                    </a>
                    <h6>Linux</h6>
                  </div>
                  <div class="col">
                    <a  href="https://github.com/">
                      <img class="home-logos" src="/static/images/logos/Github.png"/>
                    </a>
                    <h6>Github</h6>
                  </div>
                </div>
                <br>
              </div>
            </div>
            <br>
            <div class="container">
              <div class="row justify-content-center vert-space">
                <div class="col-12 col-md-8">
                    <h2 style="text-align: center;">Stay Up-to-Date!</h2>
                    <p style="text-align: center;">Join our mailing list to be notified about new tutorials, articles and more.</p>
                  </header>
                  <form  method="post">
                  <div class="d-flex justify-content-center">
                      {{form.email}}
                      <button class="btn btn-success" type="submit">Subscribe</button>
                    </form>
                    </div>
                  </div>
              </div>
            </div>
              <footer class="footer text-center">
                <div class="container">
                  <hr>
                  <small>
                    <p>
                      <span>&copy; Copyright 2020 - planetDevOps</span>.
                      <br>
                      <span>Developed by </span>
                      <a href="https://www.linkedin.com/in/hreid08/">Harry Reid</a>.
                    <p>
                  </small>
    
              </footer>

              <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                      form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                      }, false);
                    });
                  }, false);
                })();
                </script>
                
                <script>

                  function getInputValue(){
                  // Selecting the input element and get its value 
                  var inputVal = document.getElementById("subscriber").value;
                  
                  // Displaying the value
                  alert(inputVal);
                  }
                  </script>

          
              <!-- JavaScript -->
              <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
          
              
          
          
          <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
          <script src="/static/js/glider-init.4b9f36aaa51b.js"></script>
          
          
            </body>
          </html>