<!DOCTYPE html>
<html lang="en" style="overflow-y: scroll; overflow-x: hidden;">
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180738263-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-180738263-1');
      </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/main.css">   
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">   

        <!-- JavaScript -->
        <script src="/static/js/glider-init.4b9f36aaa51b.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    </head>
    <body style="background-color: #F9F9F9;">  
      <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">
          <h3 style="color: white; border-top: 0px; margin: 0px; padding: none">🚀planet<span class="lightest-blue">DevOps</span></h3>
          <!--<img class="nav-logo" src="/static/images/logo.png" alt="devopsnation.io"/> -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <!-- left -->
          <ul class="navbar-nav mr-auto navbar-pad">
            <li class="nav-item dropdown">
                <a class="nav-link" href="/tutorials/">Tutorials</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog/">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/devops/">What is DevOps?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/writeforus/">Write for Us</a>
            </li>

          </ul>
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <span class="ml-lg-auto d-none d-lg-flex">
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/planetdevopsio"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://planetdevopsio.slack.com"><i class="fab fa-slack"></i></a>
              </li>
              <!--
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/PlanetDevops-108065184396117"><i class="fab fa-facebook"></i></a>
              </li>
              -->
              <li class="nav-item">
                <a class="nav-link" href="https://linkedin.com/company/planetdevops-io"><i class="fab fa-linkedin"></i></a>
              </li>
              <li class="nav-item" style="padding-right: 20px;">
                <a class="nav-link" href="https://github.com/harry-reid94/"><i class="fab fa-github"></i></a>
              </li>
            </span>
            
            <!--
            <li class="nav-item nav-right-btn">
              <a
                class="btn btn-danger" style="pointer-events: none; background-color: rgb(144, 55, 73); border-color: rgb(144, 55, 73);"
                href="/">Sign In</a>
            </li>
            -->
            
          </ul>

          
        </div>
    </nav>
      <header class="title col-12 tutorial-background-image centered" style="padding-bottom: 15px;">
        <div class="container"> 
          <div class="col-12">
              <h1 class="header-h1"><span class="lightest-blue">Tutorials</span>.</h1>
              <p class="sub-title">Planet DevOps offers a wide range of free tutorials in the form of digestable, step-by-step guides on how to implement your favourite DevOps tools/practices into a working environment.</p>
          </div>
          <br>
          <div class="d-flex flex-row-reverse">
            <div class="p-2 dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Show All
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Python</a>
                <a class="dropdown-item" href="#">Linux</a>
                <a class="dropdown-item" href="#">Ansible</a>
                <a class="dropdown-item" href="#">Docker</a>
                <a class="dropdown-item" href="#">Kubernetes</a>
                <a class="dropdown-item" href="#">Rancher</a>
                <a class="dropdown-item" href="#">Jenkins</a>
                <a class="dropdown-item" href="#">AWS</a>
                <a class="dropdown-item" href="#">Github</a>
              </div>
            </div>
            <h5 class="p-2" style="color: white; margin-top: 8px;">Filter : </h5>
        </div>
      </header>    
      <div id="content" class="container" style="padding-left: 0%; padding-right: 0%;">
        <br>
      </div> 
      <footer class="footer text-center">
        <div class="container">
          <hr>
          <small>
            <p>
              <span>&copy; Copyright 2020 - planetDevOps</span>.
              <br>
              <span>Developed by </span>
              <a href="https://www.linkedin.com/in/hreid08/">Harry Reid</a>.
            <p>
          </small>

      </footer>
    </body>



{% for tutorial in tutorial %}
{{loop.index}}
  <script>
  console.log("Hello!");
  var tag = "";
  var title = "";
  var date = "";
  var count = 0;

  var html1 = "";
  var html2 = "";
  var count = '{{loop.index}}';
  var wideimg = '{{tutorial.wide_img}}';
  var imgclass = "";
  if(wideimg == 1){
    imgclass = "tutorial-images-wide";
  }
  else{
    imgclass = "tutorial-images";
  };

  
      if('{{tutorial.tag}}' != ''){
            html = '<div class="card" style="display: inline-block; width: 30.5%; margin: 10px;">' +
                          '<div class="card-body text-center">' +
                            '<img class=' + imgclass + ' src="/static/images/tutorial-images/{{tutorial.tag}}/{{tutorial.tag}}.png"/>' +
                            '<br>' +
                            '<br>' +
                            '<h4>' + '{{tutorial.title}}' + '</h4>' +
                            '<p>Harry Reid | ' + '{{tutorial.created_date}}' + '</p>' +
                            '<div class="dot">' +
                              '<div style="padding-top: 5px; color: white;">' +
                              '<a style="color: var(--brand4);" href="/tutorial-template/{{tutorial.tag}}">Go</a>' +
                            '</div>' +
                          '</div>' +
                          '</div>' +
                        '</div>';
    };
      $('#content').append(html);

 
  </script>
{% endfor %}
